@charset "utf-8";
/* CSS Document */
#partyFrame, #tableFrame, #nameFrame {position:relative;width:560px;margin: 0 auto; border:none; height:auto; background:#fff; overflow:hidden;}
#shadowing{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}

#box, #partybox, #tablebox, #namebox, #successbox, #termsbox{
	display: none;
	position: fixed;
	top: 10px;
	left: 30%;
	width: 560px;
	height: auto;
	padding: 0px;
	margin:0 auto;
	background-color: #fff;
	z-index:101;
	border:5px solid #b30000;
}

.box {
	display: none;
	position: fixed;
	top: 10px;
	left: 30%;
	width: 560px;
	height: auto;
	padding: 0px;
	margin:0 auto;
	background-color: #fff;
	z-index:101;
	border:5px solid #b30000;
}
/*
#wrapper{
	width:560px;
	height:auto;
	margin:0px auto;
	padding:0px;
	border:#333 solid 3px;
	top:20px;
	position:relative;
	background:#b30000;	
}
*/
.book-form{
	width:550px;
	height:auto;
	background:#efefef;
	color:#900;
	margin:5px 5px;
	float:left;
	padding-bottom:10px;
	
}
.book-form h1{
    width: auto;
    float: left;
	color:#382904;
	font-family:Corbel;
	font-size:29px;
	margin:8px 10px;
	padding:0px;
	background-color:none;
	letter-spacing:0px;
}

.book-form h3{
    width: auto;
    float: left;
	color:#382904;
	font-family:Corbel;
	margin:8px 10px;
	padding:0px;
	background-color:none;
	letter-spacing:0px;
}

.suc-text{clear: both; font-weight: bold; margin-left: 10px;}

.book-text{
	font-family:"Eras Medium ITC";
	font-size:15px;
	color:#000;
	width:148px;
	float:left;
	padding:3px 0px;
}
.book-right{
	width:400px;
	float:left;
	color:#900;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.book-form .booking-input{
	width:250px;
	height:27px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:1px solid #c0baac;
	padding:0px 0px 0px 5px;
	float:left;
    outline: none;
}
.book-form .booking-aera{
	width:250px;
	height:auto;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:1px solid #c0baac;
	padding:0px 0px 0px 5px;
}
.book-form .booking-list{
	height:27px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:1px solid #c0baac;
	padding:5px 7px 3px 5px;
	float:left;
	margin-right:10px;
    outline: none;
}
.check{
	display:block;
	width:auto;
	margin:0px 0px 0px 0px;
	padding:5px 0px;
	float:left;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
.book-form form{
	margin:0px;
	padding:0px;
}
/*
.book-form label{
	margin:8px 10px;
	width:auto;
	padding:0px;
	float:left;
	z-index:1;
}
*/
.sign-btn-book{
	width:auto;
	float:left;
	height:25px;
	background:url(../image/red_btn.png);
	background-repeat:repeat-x;
	margin:0px 0px 5px 22px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:none;
	color:#fff;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	cursor:pointer;
	padding:3px 8px 5px 8px;
	margin:0px 10px;
}
.sign-btn-book:hover{
	background:url(../image/search_bg_hover.png);
	background-repeat:repeat-x;
	color:#fff;
}
.cls-btn-book{
	width:auto;
	float:left;
	height:25px;
	background:url(../image/search_bg_hover.png);
	background-repeat:repeat-x;
	margin:0px 0px 5px 22px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:none;
	color:#fff;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	cursor:pointer;
	padding:3px 8px 5px 8px;
	margin:0px 10px;
}
.cls-btn-book:hover{
	background:url(../image/red_btn.png);
	background-repeat:repeat-x;
	color:#fff;
}

.comment{
	width:450px;
	float:right;
	color:#900;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}
.terms{
	width:390px;
	float:right;
	text-align:left;
	margin:10px 0px;
	clear:both;
}
.terms a{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#060;
	text-decoration:underline;
}
.terms a:hover{
	color:#000;
	text-decoration:none;
}
.icon-cancel{float: right; cursor: pointer;}

.book-form ul{
	margin:0px;
	padding:0px;
}
.book-form ul li{
	display:block;
	width:520px;
	margin:3px 0px 3px 15px;
	padding:0px;
	float:left;
	color:#000;
	font-size:14px;
}
.terms_image_box{
	margin:0px 15px;
	width:520px;
	padding:0px;
	float:left;
}
.terms_image{
	margin:6px 4px 6px 0px;
	width:100px;
	padding:0px;
	float:left;
}