.errors{
font-size:17px;
color:red;
margin-left:520px;
}
.top_left_logout_pane{
margin-left:300px;
margin-top:20px;
font-size:18px;
}
.success{
margin-left:500px;
font-size:17px;
color:green;
}
.error{
margin-left:500px;
font-size:17px;
color:red;
}
.info{
color:green;
}

.footer{
margin-top:30px;
font-size:23px;
link-color:red;
text-align:center;
}
#link{
color:black;
}
.selection{
width:145px;
}
.basic_form{
margin-left:500px;

}
fieldset{
border-color:black;
width:240px;
text-align:center;
}
.validate_errors{
font-size:17px;
color:red;
}

.scroll_menu{
background:white;
border:solid;
border-color:white;
}
.scroll_menu a{
color:black;
}
.scroll_menu a:hover{
color:red;
}
#inventory_pane{
background:blue;
display:none;
width:100px;
}
.top_pane{
margin-left:400px;
}

#heading{
margin-left:10px;
}
#login_tb{
bgcolor:red;
margin-left:500px; 
}
#submit_login{
background:aqua;
width:30px;
color:black;
border-color:aqua;
}
.bottom_nav{
margin-left:590px;
margin-top:90px;
font-size:31px;
}
.addrs{
margin-left:590px;
margin-top:10px;
font-size:18px;
width:210px;
}
#scroll_opt{
width:145px;
}
h2{
margin-left:600px;
}
.focus{
background:#eeffaa;
}
 
