.body{

}
h2{
margin-left:590px;
}
table{
bgcolor:red;
margin-left:500px; 
}
#submit_login{
background:aqua;
width:30px;
color:black;
border-color:aqua;
}
.bottom_nav{
margin-left:590px;
margin-top:90px;
font-size:31px;
}
.addrs{
margin-left:590px;
margin-top:10px;
font-size:18px;
}
#scroll_opt{
width:145px;
}
 