.errors{
font-size:17px;
color:red;
margin-left:520px;
}
.top_left_logout_pane{
position:absolute;
margin-left:1050px;
margin-top:100px;
font-size:18px;

}
.top_pane{
position:absolute;
margin-left:100px;
margin-top:0px;
}
.logo{
font-size:30px;
margin-left:500px;
margin-top:0px;

}

.top_secure_pane{
color:gray;
postion:absolute;
margin-left:570px;

}
.welcome{
color:white;
postion:absolute;
margin-left:560px;

}
.success{
margin-left:500px;
font-size:17px;
color:green;
}
.error{
margin-left:500px;
font-size:17px;
color:red;
}
.info{
color:green;
}

.footer{
margin-top:30px;
font-size:23px;
link-color:red;
text-align:center;
}
#link{
color:black;
}
.selection{
width:145px;
}
.basic_form{

}
fieldset{
border-color:black;
width:240px;
text-align:center;
}
.validate_errors{
font-size:17px;
color:red;
}

.scroll_menu{
background:white;
border:solid;
border-color:white;
}
.scroll_menu a{
color:black;
}
.scroll_menu a:hover{
color:red;
}
#inventory_pane{
background:;
display:;
width:100px;
}
.info_table{
margin-top:20px;
margin-left:200px;
border-style:solid;
width:600px;
text-align:center;
}
.info_action{
background:gray;
}

.body{

}
h2{
margin-left:590px;
}
table{
bgcolor:red;
margin-left:500px; 
}
#submit_login{
background:orange;
width:30px;
color:black;
border-color:orange;
}
.bottom_nav{
margin-left:590px;
margin-top:90px;
font-size:31px;
}
.addrs{
margin-left:590px;
margin-top:10px;
font-size:18px;
}
#scroll_opt{
width:145px;
}
.login_banner_bg{
postion:absolute;
margin-top:100px;
margin-left:501px;
margin-right:586px;
background:#8877ff;

}
.login_banner{
postion:absolute;
margin-top:100px;
margin-left:590px;
margin-right:680px;
background:white;

}
.admlogin{
postion:absolute;
margin-top:0px;
margin-left:500px;
color:black;
background:#8877ff;
}
.focus{
background:#eeffaa;
}
.menu{
position:absolute;
top:100px;

}
.info_menu{
position:absolute;
margin-top:0px;
margin-left:60px;

}

.wrapper{
border:1px;
}
 
