body{
background:css/home.css;
}
li{
background-color:yellow;
padding:10px;
margin-left:530px; 
margin-top:10px; 
border-style:solid;
border-spacing:100px;
width: 120px;
color:yellow;
text-align:center;
font-size:18;
list-style: box;
}
.top_welcome{
margin-left:1200px;
font-size:18;
}
